/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li { 
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h2 {
    font-family: "Playfair", serif;
    margin-bottom: 20px;
    color: var(--cor2);
}
figcaption {
    font-family: "Playfair", serif;
    font-size: 1.4em;  
    margin: 20px 0;
}

/* Variáveis de css */
:root {
    /* Cores */
    --cor1: #000;
    --cor2: #fff;
    --cor3: #1a1a1a;
    --cor4: #ffffff;
}

/* html */
html {
    height: 100vh;
}

/* Header */
#header {
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

/* nav */
#nav {
    display: none;
}
nav > ul {
    display: flex;
}
nav > ul > li {
    margin: 0 15px;
    transition: all 800ms ease-in-out;
}
nav > ul > li a {
    color: var(--cor2);
    font-weight: bold;
    font-size: 1.2em;
}

/* Botão mobile */
.btn-mobile {
    display: block;
}
.btn-mobile > button {
    padding: 10px;
    border-radius: 7px;
    border: none;
    border: 1px solid var(--cor2);
    cursor: pointer;
}
/* Menu mobile */
.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--cor1);
    z-index: 100;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 800ms ease-in-out;
}
.menu-mobile > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.menu-mobile > ul > li {
    margin: 20px 0;
    padding: 7px 5px;
}
.menu-mobile > ul > li > a{
    color: var(--cor2);
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}
.menu-mobile > ul > li > a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

/* Abrir menu */
.menu-mobile.open-mobile {
    transform: translateX(0);
    opacity: 1;
}

/* Seções */
section {
    padding: 20px 40px;
}

/* Seção 1 */
#sec1 {
    background-image: url(../assets/img/banner.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#sec1 > p {
    color: var(--cor4);
    text-align: justify;
    margin: 10px 0;
}

/* Seção 2 */
#sec2 {
    background-image: url(../assets/img/bg-albuns.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--cor3);
}
.container-albuns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-album img, .item-grade img {
    border-radius: 7px;
}
.card-album > figure > figcaption {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    color: var(--cor2);
}

/* Seção 3 */
#sec3 {
    background-image: url(../assets/img/bg-photos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#sec3 > h2 {
    color: var(--cor1);
}
.grade-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item-grade {
    width: calc(50% - 7px);
    height: 200px;
    overflow: hidden;
}
.item-grade img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sec4 {
    background-image: url(../assets/img/bg-newsletter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
#sec4 > div {
    padding: 15px 0;
}
.form {
    background-color: #0000006c;
    border-radius: 7px;
    text-align: center;
    width: 80%;
    padding: 5px;
}
.form-group{
    margin: 10px 0;
}
.form-group > label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--cor2);
}
.form-group > input {
    width: 70%;
    padding: 7px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que padding e border não aumentem a largura total */
    font-weight: 1.1em;
    margin: 0 10px;
    transition: border-color 0.3s;
}
form > button, .faq > button {
    background-color: var(--cor3);
    padding: 10px 6px;
    margin: 10px 0;
    border: none;
    border-radius: 7px;
    border: 1px solid var(--cor2);
    color: var(--cor2);
    font-size: 1.1em;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
form > button:hover, .faq > button:hover {
    background-color: #0000006c;
}
.faq {
    text-align: center;
}

/* Rodapé */
#rodape {
    background-color: var(--cor1);
}
#rodape h2, p {
    text-align: center;
}
#rodape p {
    color: var(--cor2);
    margin: 15px 0;
    padding: 7px 0;
    font-size: 1.1em;
    font-weight: bolder;
    background-color: var(--cor3);
}
.container-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container-media > div {
    margin: 5px 12px;
}
.container-media > div i {
    color: var(--cor2);
    text-align: center;
    font-size: 1.2em;
    transition: all 500ms ease-in-out;
}
.container-media > div i:hover {
    color: var(--cor3);
}

/* Responsividade */
/* Mobile - md */
@media screen and (min-width: 768px) {
    /* nav */
    #nav {
        display: block;
    }

    /* Botão hamburger */
    .btn-mobile {
        display: none;
    }

}

/* Desktops */
@media (min-width: 769px) and (max-width: 992px) {
    /* nav */
    nav > ul > li a {
        font-size: 1.3em;
    }

    /* Seção 1 */
    #sec1 {
        padding: 0 30px;
        font-size: 1.2em;
    }

    /* Seção 2 */
    .container-albuns {
        gap: 10px;
    }
    .card-album {
        width: calc(50% - 7px);
    }
    .card-album > img {
        width: 50%;
    }

    /* Seção 3 */
    .item-grade {
        width: calc(50% - 7px);
        height: 400px;
        overflow: hidden;
    }
}

/* Desktops (maiores) */
@media (min-width: 993px) and (max-width: 1024px) {
    /* Seção 1 */
    #sec1 {
        padding: 0 30px;
        font-size: 1.2em;
    }

    /* Seção 2 */
    .container-albuns {
        gap: 10px;
    }
    .card-album {
        width: calc(50% - 7px);
    }
    .card-album > img {
        width: 50%;
    } 

    /* Seção 3 */
    .item-grade {
        width: calc(33.3% - 7px);
        height: 400px;
        overflow: hidden;
    }

    /* Seção 4 */
    #sec4 {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form {
        width: 60%;
    }
}

/* Tvs */
@media (min-width: 1025px) {
    /* Seção 1 */
    #sec1 {
        padding: 70px;
        font-size: 1.2em;
    }

    /* Seção 2 */
    .container-albuns {
        gap: 15px;
    }
    .card-album > img {
        width: 40%;
    }
    
    /* Seção 3 */
    .item-grade {
        width: calc(33.3% - 7px);
        height: 400px;
        overflow: hidden;
    }

    /* Seção 4 */
    #sec4 {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form {
        width: 60%;
    }
}