/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li { 
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h2 {
    font-family: "Playfair", serif;
    margin-bottom: 20px;
    color: var(--cor2);
}
figcaption {
    font-family: "Playfair", serif;
    font-size: 1.4em;  
    margin: 20px 0;
}

/* Variáveis de css */
:root {
    /* Cores */
    --cor1: #000;
    --cor2: #fff;
    --cor3: #1a1a1a;
    --cor4: #ffffff;
}

/* html */
html {
    height: 100vh;
}

/* Header */
#header {
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

/* nav */
#nav {
    display: none;
}
nav > ul {
    display: flex;
}
nav > ul > li {
    margin: 0 15px;
    transition: all 800ms ease-in-out;
}
nav > ul > li a {
    color: var(--cor2);
    font-weight: bold;
    font-size: 1.3em;
}

/* Botão mobile */
.btn-mobile {
    display: block;
}
.btn-mobile > button {
    padding: 10px;
    border-radius: 7px;
    border: none;
    border: 1px solid var(--cor2);
    cursor: pointer;
}
/* Menu mobile */
.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--cor1);
    z-index: 100;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 800ms ease-in-out;
}
.menu-mobile > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.menu-mobile > ul > li {
    margin: 20px 0;
    padding: 7px 5px;
}
.menu-mobile > ul > li > a{
    color: var(--cor2);
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}
.menu-mobile > ul > li > a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}

/* Abrir menu */
.menu-mobile.open-mobile {
    transform: translateX(0);
    opacity: 1;
}

/* Seções */
section {
    padding: 20px 40px;
}

/* Seção 1 */
#sec1 {
    background-image: url(../assets/img/banner.jpg);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#sec1 > p {
    color: var(--cor4);
    text-align: justify;
    margin: 10px 0;
}

/* Seção 2 */
#sec2 {
    background-image: url(../assets/img/bg-albuns.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--cor3);
}
.container-albuns{
    display: flex;
    flex-wrap: wrap;
}
.card-album img {
    border-radius: 7px;
}
.card-album > figure > figcaption {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    color: var(--cor2);
}

/* Responsividade */
/* Mobile */
@media screen and (min-width: 768px) {
    /* nav */
    #nav {
        display: block;
    }

    /* Botão hamburger */
    .btn-mobile {
        display: none;
    }

}